<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.board.dao.MyBatis.BoardMapper">
    <insert id="insertPost" parameterType="spring.board.entity.Board">
        INSERT INTO board(title, content, user_idx, create_date, update_date)
        VALUES (#{title}, #{content}, #{userIdx}, #{createDate}, #{updateDate})
    </insert>

    <select id="selectPostByPostId" parameterType="Integer" resultType="spring.board.dto.BoardResponse">
        SELECT b.board_no, b.title, b.content, b.user_idx, u.name, b.create_date, b.update_date
        FROM board b
            inner join user u
                on b.user_idx = u.idx
        WHERE b.board_no = #{id}
    </select>

    <select id="selectPostNByPostId" parameterType="Integer" resultType="spring.board.dto.BoardResponse">
        SELECT b.board_no, b.title, b.content, b.user_idx, u.name, b.create_date, b.update_date
        FROM board b
                 inner join user u
                            on b.user_idx = u.idx
        WHERE b.board_no = #{id}
    </select>

    <select id="selectPostByUserId" parameterType="spring.board.entity.Paging" resultType="spring.board.dto.BoardResponse">
        SELECT board_no, title, content, user_idx, name, create_date, update_date
        FROM
            (SELECT ROW_NUMBER() OVER ( ORDER BY board_no ASC) AS row_num, board_no, title, content, user_idx, create_date, update_date
            FROM board) b
                INNER JOIN user u ON b.user_idx = u.idx
        WHERE row_num BETWEEN ? AND ?
        ORDER BY row_num
    </select>

    <select id="getTotalCnt" resultType= "Integer">
        select count(*) from board
    </select>

    <resultMap id="boardMap" type="spring.board.dto.BoardResponse">
        <result column="board_no" property="boardNo"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="user_idx" property="userIdx"></result>
        <result column="user_name" property="userName"></result>
        <result column="create_date" property="createDate"></result>
        <result column="update_date" property="updateDate"></result>
<!--        <collection property="boards" column="boardNo" javaType="java.util.List" ofType="spring.board.dto.BoardResponse" select="selectPost"> </collection>-->
    </resultMap>

    <select id="selectPost" parameterType= "spring.board.entity.Paging" resultMap="boardMap">
        SELECT board_no, title, content, user_idx, name
        <if test="startIndex  null and startIndex   '' ">
             , create_date, update_date
        </if>
        FROM
            (SELECT ROW_NUMBER() OVER ( ORDER BY board_no ASC) AS row_num, board_no, title, content, user_idx, create_date, update_date
             FROM board) b INNER JOIN user u ON b.user_idx = u.idx
        WHERE row_num BETWEEN #{startIndex} AND #{endIndex}
        ORDER BY row_num
    </select>

    <update id="updatePost" parameterType="spring.board.dto.BoardUpdateRequest">
        UPDATE board
        SET title = #{title}, content = #{content}, update_date = #{updateDate}
        where board_no = {boardNo}
    </update>

    <delete id="deletePost" parameterType="Integer">
        DELETE FROM board WHERE   board_no = #{bIdx}
    </delete>
</mapper>
<!--for문,        WHERE   board_no  IN #{post.bIdx}
 -->